@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");

.notifi-container {
  position: relative;
  z-index: 200;
}
.noti-bg {
  background: linear-gradient(to right, #529bee, rgb(110, 56, 180));
  /* background-color: #529bee; */
  /* border-color: #6d0c58; */
}
.noti-btn1 {
  height: 35px !important;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
}
.noti-btn {
  display: flex;
  align-items: center;
  margin-top: 8px;
  /* margin-bottom: auto; */
  float: right;
  /* display: inline-block; */
  margin-right: 2rem;
}

.noti-btn1:hover {
  /* background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(234, 236, 249, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  ); */
  background: transparent;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.noti-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.alert {
  padding: 0 1.25rem;
  line-height: 50px;
}

.noti-para {
  color: white;
  font-size: 1.1rem;
  margin-left: 4rem;
}

/*---------------  live class section  ---------------*/
.section_title_container {
  margin-bottom: 3rem;
}

.section_title {
  font-size: 2.4rem;
  font-family: "Jockey One", sans-serif;
}

#wrapper ul {
  list-style-type: none;
}

#wrapper ul li {
  font-size: 1.4rem;
  line-height: 2;
  background-size: 25px;
  background-image: url("custom/images/bullet-star.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 28px;
  letter-spacing: 1px;
}

#wrapper h4 {
  font-size: 1.5rem;
}

.live_class_logo1 {
  width: 100px;
  height: 40px;
}

.live_class_logo2 {
  width: 150px;
  height: 70px;
}

.live_class_logo3 {
  width: 150px;
  height: 60px;
}

.btn-1-live-class {
  width: 100%;
  height: 5rem;
  /* background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(234, 249, 249, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  ); */
  /*background: linear-gradient(
    to bottom right,
    rgb(80, 106, 221) 60%,
    rgba(248, 237, 74, 0.521) 75%,
    rgb(80, 106, 221)
  );*/
  background-color: #2360d3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem 5px;
  transition-duration: 0.35s;
}
.btn-1-live-class:hover {
  background-color: transparent;
  border: 2px solid #2360d3;
  cursor: pointer;
}
.btn-1-live-class:hover h2 {
  color: #2360d3;
}
.btn-1-live-class h2 {
  font-size: 1.7rem;
  font-weight: 500;
  color: whitesmoke;
  /* font-family: "Monoton", cursive; */
  font-family: "Nova Flat", cursive !important;
}

.btn-2-live-class {
  width: 220px;
  height: 46px;
  background: #14bdee;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 80px;
  margin-top: 1.5rem;
}

.btn-2-live-class h2 {
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
}

/*---------------------- testimonial section ---------------------*/

.testimonials {
  margin: 50px auto;
}

.testimonials h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #384158;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.testimonials .row {
  margin-top: 30px;
}

.col-md-4 {
  margin: 40px auto;
}

.profile {
  padding: 70px 40px 10px;
  background-color: whitesmoke;
}

.profile img {
  top: -60px;
  position: absolute;
  left: calc(50% - 60px);
  border: 10px solid white;
}
.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile h3 {
  font-size: 14px;
  margin-top: 15px;
  color: #ff9800;
}

span {
  font-size: 10px;
  color: #76777a;
}

blockquote {
  font-size: 12px;
  line-height: 20px;
}

.profile:hover {
  box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  cursor: pointer;
}

/*--------------------- internship css -----------------*/
#intern {
  width: 100%;
  padding-bottom: 100px;
}

.intern_img {
  width: 100%;
  height: 30rem;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.4),
      rgb(0, 0, 0, 0.4)
    ),
    url(images/intern-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  cursor: pointer;
}

.intern_img:hover .wrap_cont_intern {
  /* background-color: rgba(0,0,0,0.8); */
  /* width: 100%;
    height: 30rem; */
  display: block;
}

.intern_img:hover h1 {
  display: none;
}

.intern_img h1 {
  color: white;
  font-size: 2.5rem;
  /* position: absolute;
    top: 11rem; */
}

/* .intern-btn{
    width: 200px;
    height: 46px;
    background: #14bdee;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 11rem;
    text-align: center;

    display: none;
}

.intern-btn h2{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
} */

.wrap_cont_intern {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.wrap_cont_intern ul {
  list-style-type: none;
}

.wrap_cont_intern ul li {
  padding: 0 10px;
  color: white;
  /* display: inline-block; */
  /* border-right: 4px solid white; */
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.2;
  /* position: relative;
    left: 10rem; */
}

/*------------------ courses section -----------------*/
.course_btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.course_btn {
  width: 150px;
  height: 46px;
  background: #14bdee;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1.5rem;
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
}

/*------------------ contact css ---------------*/

select#drop {
  width: 100%;
  height: 35px;
  border: solid 1px #d9d9d9;
  border-radius: 3px;
  padding-left: 19px;
  font-size: 16px;
  font-weight: 400;
  color: #2c3145;
}

select#drop:focus {
  border: solid 1px #14bdee;
  outline: none;
}

/* FOOTER SECTION */

.footer_contact_info ul li.footer_sublink a {
  font-size: 14px;
  font-weight: 400;
  color: #b5b8be !important;
}

.footer_contact_info ul li.footer_sublink a:hover {
  color: #14bdee !important;
}

.footer_mobile_content {
  padding-top: 30px;
}
