@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    font-family: "Jockey One", sans-serif;
    text-align: center;
    font-size: 2rem;
}

h3{
    font-family: "Nova Flat", cursive !important;
    font-size: 1.1rem;
    text-align: center;
    margin: 1rem auto;
    font-weight: 500;
}

.formContainer {
    color: black;
    background-image: url("../../images/intern_courseimage.jpg");
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span{
    color: red;
    font-size: 1rem;
}

.formCol {
padding: 10px 15px;
background-color: rgba(114, 114, 114, 0.7);
margin-left: auto;
height: auto;
margin-right: auto;
border-radius: 10px;
}

input, select {
height: 28 px !important   ;
background-color: transparent !important;
color: #eaebed !important;
}

.form-group input::placeholder{
    color: #eaebed;
}


.form-group input, .form-group #role{
    border: none;
    border-bottom: 1.2px solid black;
    outline: none;
    font-weight: 400;
}

label {
font-size: 0.9rem;
font-weight: 700;
}