*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formContainer {
    color: white;
    background-image: url("/images/latest_1.jpg");
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .bg_img{
    background-image: url("");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
} */

.formCol {
padding: 10px 15px;
background-color: rgba(114, 114, 114, 0.426);
margin-left: auto;
height: auto;
margin-right: auto;
border-radius: 10px;
}

input, select {
height: 34 px !important   ;
background-color: transparent !important;
}

label {
/* font-size: small; */
}

.text-muted {
color: white !important;
}







/* body{
    background-color: aqua;
}

label{
    margin: 1rem 0 0.6rem;
}

input{
    margin: 0.4rem 0;
    border: none;
    border-bottom: 2px solid black;
    width: 15rem;
    outline: none;
}

input:focus{
    border-bottom: 4px solid blue;
    width:20rem;
    transition: 0.5s;
}

#role{
    width: 15rem;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

#role:focus{
    border-bottom: 4px solid blue;
    width:20rem;
    transition: 0.1s;
}

form{
    margin:auto 40% ;
} */