.small {
  letter-spacing: 0.5px !important;
}

.card-header img {
  border: 5px solid white !important;
}

.outside {
  position: inherit;
  top: -50%;
}

.card {
  border-radius: 20px !important;
  box-shadow: 2px 2px 5px 0px rgb(100, 108, 170);
  transition: 0.8s;
}

.card-header {
  border-radius: 20px !important;
}

.card-footer {
  border-radius: 20px !important;
}

hr {
  background-color: rgb(146, 154, 236);
  border: 1px solid;
  border-radius: 20px;
  color: rgb(146, 154, 236);
  height: 5px;
  width: 70px !important;
}

.bold {
  font-weight: 500;
}

.profile-pic {
  margin-bottom: -5px !important;
}

.quotes {
  position: relative;
  top: -10px;
}

.quotes-down {
  position: relative;
  top: -4 px;
}

.fa {
  color: rgb(174, 178, 219);
  cursor: pointer;
}

.card-footer .fa {
  font-size: 20px !important;
}

.name {
  margin-top: -50px !important;
}

.container-fluid:hover .card:not(:hover) {
  transform: scale(0.9);
}

@media (max-width: 1000px) {
  .container-fluid:hover .card:not(:hover) {
    transform: scale(1);
  }
}
